@import './lib/reset.css';
@import './lib/display.css';
@import './lib/positioning.css';
@import './lib/flexbox.css';
@import './lib/align.css';
@import './lib/spacing.css';
@import './lib/buttons.css';
@import './lib/forms.css';
@import './lib/lists.css';
@import './lib/typography.css';
@import './lib/z-index.css';

@font-face {
  font-family: 'LemonMilk';
  font-style: normal;
  font-weight: 400;
  src:
    local('LemonMilk'),
    url(./fonts/LemonMilk.otf) format('otf');
}


.hot-pink {
  color: #FF4C74;
}

.hot-pink-button {
  color: #FF4C74;
}

.hot-pink-button:hover {
  color: yellow;
  transition: .2s;
}

.blood-red {
  color: #a50b0b;
}

.money-green {
  color: #009942;
}

.white {
  color: #FFF
}

.yellow {
  color: #FFFD54;
}

.black {
  color: #000;
}

.bg-hot-pink {
  background-color: #FF4C74;
}

.bg-money-green {
  background-color: #009942;
}

.bg-black {
  background-color: #000;
}

.bg-white {
  background-color: #FFF;
}

.bg-purple {
  background-color: #5A2EFF;
}

.bg-purple-murder {
  background-color: #5A2EFF;
}

.bg-blood-red {
  background-color: #a50b0b;
}

.gutter {
  max-width: 40rem;
}

.border {
  border: 1rem solid #FF4C74;
}

.border-red {
  border: 1rem solid #a50b0b;
}

.mb2 {
  margin-bottom: 2rem;
}

.mw-10 {
  max-width: 20rem
}

.br10 {
  border-radius: 8px
}

.top-600 {
  top: 600px
}

.mafia-button {
  background-color: #FF4C74;
  font-family: 'LemonMilk';
  color: #FFF;
}

.mafia-font {
  font-family: 'LemonMilk';
}

.user-font {
  font-family: 'LemonMilk', monospace;
}

.knife {
  background: url("/knife.jpg");
  background-size: cover;
  background-repeat: none;
}

.mafia-dude {
  background: url("/mafia-dude.jpg");
  background-size: cover;
  background-repeat: none;
}

.mafia-dude-2 {
  background: url("/mafia-dude-2.jpg");
  background-size: cover;
  background-repeat: none;
}

.money-bags {
  background: url("/money-bags.jpg");
  background-size: cover;
  background-repeat: none;
}

.spy {
  background: url("/spy.jpg");
  background-size: cover;
  background-repeat: none;
}

.detective {
  background: url("/detective.jpg");
  background-size: cover;
  background-repeat: none;
}

.fll {
  float: left;
}

.blood-border {
  border: 1rem solid #a50b0b;
}

.name-box {
  padding: 10px;
  border: 5px solid #000;
  height: 10em;
  width: 30px;
  margin-right: 12em;
  margin-left: 12em;
  margin-bottom: 6em;
  border-radius: 0.333em;
  color: #FFF;
  padding-top: 3em;
}

.back-button {
  float: left;
  width: 80px;
  margin-top: 0.6em;
  font-size: 1.5em;
  border-radius: 0.333em;
}

.start-game-button {
  font-size: 1.5em;
}

.start-button-div {
  background-color: #FF4C74;
}

.start-button-div:hover {
  background-color: #000;
}

.big-question {
  font-size: 3em;
}

.big-question:hover {
  color: yellow;
  transition: .2s;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.lobby-list {
  max-width: 20em;
  max-height: 76vh;
  overflow: scroll;
  margin: 1em auto;
}
