@import './lib/reset.css';
@import './lib/display.css';
@import './lib/positioning.css';
@import './lib/flexbox.css';
@import './lib/align.css';
@import './lib/spacing.css';
@import './lib/buttons.css';
@import './lib/forms.css';
@import './lib/lists.css';
@import './lib/typography.css';
@import './lib/z-index.css';


.hot-pink {
  color: #FF4C74;
}

.white {
  color: #FFF
}

.bg-hot-pink {
  background-color: #FF4C74;
}

.bg-black {
  background-color: #000;
}

.bg-white {
  background-color: #FFF;
}

.gutter {
  max-width: 40rem;
}

.border {
  border: 1rem solid #FF4C74;
}

.mb2 {
  margin-bottom: 2rem;
}

.mw-10 {
  max-width: 20rem
}

.br10 {
  border-radius: 8px
}

.top-600 {
  top: 600px
}

.mafia-font {
  font-family: 'Faster One';
}

.knife {
  background: url("/knife.jpg");
  background-size: cover;
  background-repeat: none;
}

.mafia-dude {
  background: url("/mafia-dude.jpg");
  background-size: cover;
  background-repeat: none;
}

.spy {
  background: url("/spy.jpg");
  background-size: cover;
  background-repeat: none;
}
