@import './lib/reset.css';
@import './lib/display.css';
@import './lib/positioning.css';
@import './lib/flexbox.css';
@import './lib/align.css';
@import './lib/spacing.css';
@import './lib/buttons.css';
@import './lib/forms.css';
@import './lib/lists.css';
@import './lib/typography.css';
@import './lib/z-index.css';


.hot-pink {
  color: #FF4C74;
}

.blood-red {
  color: #a50b0b;
}

.white {
  color: #FFF
}

.black {
  color: #000
}

.bg-hot-pink {
  background-color: #FF4C74;
}

.bg-black {
  background-color: #000;
}

.bg-white {
  background-color: #FFF;
}

.bg-purple {
  background-color: #5A2EFF;
}

.bg-blood-red {
  background-color: #a50b0b;
}

.gutter {
  max-width: 40rem;
}

.border {
  border: 1rem solid #FF4C74;
}

.mb2 {
  margin-bottom: 2rem;
}

.mw-10 {
  max-width: 20rem
}

.br10 {
  border-radius: 8px
}

.top-600 {
  top: 600px
}

.mafia-button {
  background-color: #FF4C74;
  font-family: 'Faster One';
  color: #FFF;
}

.mafia-font {
  font-family: 'Faster One';
}

.knife {
  background: url("/knife.jpg");
  background-size: cover;
  background-repeat: none;
}

.mafia-dude {
  background: url("/mafia-dude.jpg");
  background-size: cover;
  background-repeat: none;
}

.spy {
  background: url("/spy.jpg");
  background-size: cover;
  background-repeat: none;
}

.fll {
  float: left;
}

.blood-border {
  border: 1rem solid #a50b0b;
}

.name-box {
  padding: 10px;
  border: 5px solid #000;
  height: 10em;
  width: 30px;
  margin-right: 10em;
  margin-left: 10em;
  border-radius: 0.333em;
  color: #FFF;
  padding-top: 3em;
}

.back-button {
  float: left;
  width: 80px;
  margin-top: 0.6em;
  font-size: 1.5em;
  border-radius: 0.333em;
}

.big-question {
  font-size: 3em;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.lobby-list {
  max-width: 20em;
  max-height: 76vh;
  overflow: scroll;
  margin: 1em auto;
}
